<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>
        I'm Ayomide Aro - A creative person who is so passionate about using technology to improve and impact lives. I have experiences in building applications for several areas cutting across mobile & web development and other areas, with a strong feel for machine learning and artificial intelligence.
    </p>
    <p>
        A detail-oriented programmer and architect with 3+ years' success devising innovative and tailored solutions to meet ever-changing business requirements within diverse industries. Advanced skill with leading-edge programming tools complemented by proven ability to assimilate and rapidly utilize emerging technologies.
        Solid mathematical knowledge with experience developing comprehensive algorithms.

    </p>
</div><!--//summary-->
</section><!--//section-->