<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer Intern</h3>
                            <div class="time">2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Terragon Group, Lagos</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Designing, development and deployment of frontend and backend services(APIs and Micro-services).
                            Working around Augmented Reality Application Development.

                            I follow a service oriented architecture and try to follow the micro-service architecture.<br><br>

                            <b>Technology, Software and Operating Systems used:</b><br><br>
                            - Java(Android)<br>
                            - MongoDB<br>
                            - Javascript(AngularJS and Nodejs)<br>
                            - Elasticsearch<br>
                            - Redis<br>
                            - PHP(CodeIgniter)<br>
                            - Python<br>
                            - Amazon Web Services<br>
                            - Bitbucket(Git)<br>
                            - Played around with Docker<br>
                            - AMQP (RabbitMQ)<br>
                            - ARToolKit SDK<br>
                            - SMS Gateway (Kannel)<br>
                        </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Android Engineer</h3>
                            <div class="time">2015 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Sanwo Tap2Pay Tech Services, Lagos</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I work along with other Android Engineers in a team of.  I am responsible for translating business requirements into Android applications. I follow standard development practices for building Android applications which include:<br><br>

                            ● Good User Interface and User Experience.<br>
                            ● Ensuring that the applications can perform online as well as offline.<br>
                            ● Writing clean code. <br>
                            ● Optimizing applications to use as small amount of memory as possible.<br>
                        </p>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->